<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <footer class="footer-component">
      <div class="footer-left-container">
        <img src="../images/webicon.png" alt="WEBSITE LOGO" />
        <h2>BLOOD BRIDGE</h2>
      </div>
      <div class="footer-right-container">
        <div class="footer-right-first">
          <h2>Team</h2>
          <p>Nanda Priya</p>
          <p>Flora Keren</p>
          <p>Bhavana</p>
          <p>Manohar</p>
          <p>Varun</p>
          <p>Arun</p>
        </div>
        <div class="footer-right-second">
          <h2>Press</h2>
          <p>News</p>
          <p>Events</p>
        </div>
        <div class="footer-right-third">
          <h2>Contact us</h2>
          <img src="../images/facebook.png" alt="" />
          <img src="../images/instagram.png" alt="" />
          <img src="../images/linkedin.png" alt="" />
          <img src="../images/twitter.png" alt="" />
          <img src="../images/youtube.png" alt="" />
        </div>
      </div>
    </footer>
  </body>
</html>
