<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <nav class="nav-bar">
      <div class="nav-left">
        <img src="../images/webicon.png" alt="WEBSITE ICON" />
        <h1>BLOOD BRIDGE</h1>
      </div>
      <div class="nav-right">
        <ul class="nav-elements">
          <li><a href="#">Home</a></li>
          <li><a href="#">Blood bank</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </nav>
  </body>
</html>
