<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="donate-request-container">
      <div class="donate-container">
        <img src="../images/blooddonate.png" alt="BLOOD DONATE IMAGE" />
        <h2>BLOOD DONATE</h2>
      </div>
      <div class="request-container">
        <img src="../images/bloodrequest.png" alt="BLOOD REQUEST IMAGE" />
        <h2>BLOOD REQUEST</h2>
      </div>
    </div>
  </body>
</html>
